.Top3C {
    background-color: #00ABE4;
    color: white;
}

.Content3C {
    background-color: #E9F1FA;
}

.bigBtns {
    font-size: 65px;
}

.blkBtnTxt {
    color: black;
}

/* QnAs Correct and Wrong Answers */
.Wrong1 {
    color: red;
}

.Correct1 {
    color: Green;
}

.Wrong2 {
    color: red;
}

.Correct2 {
    color: Green;
}

.Wrong3 {
    color: red;
}

.Correct3 {
    color: Green;
}

.Wrong4 {
    color: red;
}

.Correct4 {
    color: Green;
}

.Wrong5 {
    color: red;
}

.Correct5 {
    color: Green;
}

.Wrong6 {
    color: red;
}

.Correct6 {
    color: Green;
}

.Wrong7 {
    color: red;
}

.Correct7 {
    color: Green;
}

.Wrong8 {
    color: red;
}

.Correct8 {
    color: Green;
}

.Wrong9 {
    color: red;
}

.Correct9 {
    color: Green;
}

.Wrong10 {
    color: red;
}

.Correct10 {
    color: Green;
}

.btn-bigger {
    font-size: 20px;
}

.btn-EvenBigger {
    font-size: 40px;
}